arabic-reshaper
asgiref
asn1crypto
certifi
cffi
charset-normalizer
click
colorama
cryptography
cssselect2
dj-database-url
Django
django-heroku
django-widget-tweaks
docopt
future
gunicorn
html5lib
idna
lxml
oscrypto
Pillow
pipreqs
psycopg2
pycparser
pyHanko
pyhanko-certvalidator
PyPDF3
python-bidi
pytz
pytz-deprecation-shim
PyYAML
qrcode
reportlab
requests
six
sqlparse
svglib
tinycss2
tqdm
tzdata
tzlocal
uritools
urllib3
webencodings
whitenoise
xhtml2pdf
yarg